NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5500
MONGODB_URI=mongodb://127.0.0.1:27017/vidrios_alejo
JWT_SECRET=
ENC_KEY=
ADMIN_USERNAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
EMAIL_USER=
EMAIL_PASS=
PRECIO_PULIDO_COP_M2=15000
AUTO_SEED_PRECIOS=1
